
.rootLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rootLayout main {
  flex: 1;
  overflow: hidden;
}


@media (max-width: 768px) {
  .rootLayout {
    padding: 10px;
  }

  .rootLayout header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .rootLayout .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
  }

  .rootLayout .logo img {
    width: 28px;
    height: 28px;
  }
}







